body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.calc-row:after {
  clear: both;
  content: "";
  display: table;
}

.title {
  margin-bottom: 10px;
}

.button {
  background: #0069ed;
  color: #ffffff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  line-height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 50px;
  width: 50px;
}
.button:hover,
.button:focus {
    background: #0053ba;
}
.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
.button:active {
    transform: scale(0.99);
}

.unary {
  color: #CDAD00;
}
.binary {
  color: #FFE600;
}

.buttonNumber {
  font-size: 30px;
}

.buttonNumberZero {
  font-size: 29px;
}

.button2 {
  width: 100px;
}

.input {
  color: #8B8989;
  text-align: right;
  width: 275px;
  background-color: #f1f1f1;
  font-family: Helvetica,Arial,Verdana;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
  padding: 10px;
}

.button:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.calc {
  display: flex;
  flex-direction: row;
}
